<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CANZOHOGM.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B52C69BB147EAFB38B3CEB0476FC5B29BAF64729</string>
				<key>dateExpires</key>
				<string>2021/11/14</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B52C69BB147EAFB38B3CEB0476FC5B29BAF64729</string>
						<key>dateExpires</key>
						<string>2021/11/14</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WQ35W7X83W</string>
						<key>name</key>
						<string>Hunan Canzoho Biological Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B52C69BB147EAFB38B3CEB0476FC5B29BAF64729</string>
						<key>dateExpires</key>
						<string>2021/11/14</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DZNEmptyDataSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WQ35W7X83W</string>
						<key>name</key>
						<string>Hunan Canzoho Biological Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B52C69BB147EAFB38B3CEB0476FC5B29BAF64729</string>
						<key>dateExpires</key>
						<string>2021/11/14</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FDFullscreenPopGesture.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WQ35W7X83W</string>
						<key>name</key>
						<string>Hunan Canzoho Biological Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B52C69BB147EAFB38B3CEB0476FC5B29BAF64729</string>
						<key>dateExpires</key>
						<string>2021/11/14</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WQ35W7X83W</string>
						<key>name</key>
						<string>Hunan Canzoho Biological Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B52C69BB147EAFB38B3CEB0476FC5B29BAF64729</string>
						<key>dateExpires</key>
						<string>2021/11/14</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FSActionSheet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WQ35W7X83W</string>
						<key>name</key>
						<string>Hunan Canzoho Biological Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B52C69BB147EAFB38B3CEB0476FC5B29BAF64729</string>
						<key>dateExpires</key>
						<string>2021/11/14</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HandyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WQ35W7X83W</string>
						<key>name</key>
						<string>Hunan Canzoho Biological Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B52C69BB147EAFB38B3CEB0476FC5B29BAF64729</string>
						<key>dateExpires</key>
						<string>2021/11/14</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WQ35W7X83W</string>
						<key>name</key>
						<string>Hunan Canzoho Biological Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B52C69BB147EAFB38B3CEB0476FC5B29BAF64729</string>
						<key>dateExpires</key>
						<string>2021/11/14</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JKCountDownButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WQ35W7X83W</string>
						<key>name</key>
						<string>Hunan Canzoho Biological Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B52C69BB147EAFB38B3CEB0476FC5B29BAF64729</string>
						<key>dateExpires</key>
						<string>2021/11/14</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KafkaRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WQ35W7X83W</string>
						<key>name</key>
						<string>Hunan Canzoho Biological Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B52C69BB147EAFB38B3CEB0476FC5B29BAF64729</string>
						<key>dateExpires</key>
						<string>2021/11/14</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WQ35W7X83W</string>
						<key>name</key>
						<string>Hunan Canzoho Biological Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B52C69BB147EAFB38B3CEB0476FC5B29BAF64729</string>
						<key>dateExpires</key>
						<string>2021/11/14</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PGDatePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WQ35W7X83W</string>
						<key>name</key>
						<string>Hunan Canzoho Biological Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B52C69BB147EAFB38B3CEB0476FC5B29BAF64729</string>
						<key>dateExpires</key>
						<string>2021/11/14</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PGPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WQ35W7X83W</string>
						<key>name</key>
						<string>Hunan Canzoho Biological Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B52C69BB147EAFB38B3CEB0476FC5B29BAF64729</string>
						<key>dateExpires</key>
						<string>2021/11/14</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WQ35W7X83W</string>
						<key>name</key>
						<string>Hunan Canzoho Biological Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B52C69BB147EAFB38B3CEB0476FC5B29BAF64729</string>
						<key>dateExpires</key>
						<string>2021/11/14</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WQ35W7X83W</string>
						<key>name</key>
						<string>Hunan Canzoho Biological Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B52C69BB147EAFB38B3CEB0476FC5B29BAF64729</string>
						<key>dateExpires</key>
						<string>2021/11/14</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftDate.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WQ35W7X83W</string>
						<key>name</key>
						<string>Hunan Canzoho Biological Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B52C69BB147EAFB38B3CEB0476FC5B29BAF64729</string>
						<key>dateExpires</key>
						<string>2021/11/14</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WQ35W7X83W</string>
						<key>name</key>
						<string>Hunan Canzoho Biological Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B52C69BB147EAFB38B3CEB0476FC5B29BAF64729</string>
						<key>dateExpires</key>
						<string>2021/11/14</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ZYToolKits.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WQ35W7X83W</string>
						<key>name</key>
						<string>Hunan Canzoho Biological Technology Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>WQ35W7X83W.com.canzoho.CANZOHOGM</string>
				<key>com.apple.developer.team-identifier</key>
				<string>WQ35W7X83W</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>WQ35W7X83W.com.canzoho.CANZOHOGM</string>
				</array>
			</dict>
			<key>name</key>
			<string>CANZOHOGM.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6b171c71-976e-435b-a220-0b918417235f</string>
				<key>name</key>
				<string>JNTong-inHouse</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>WQ35W7X83W</string>
				<key>name</key>
				<string>Hunan Canzoho Biological Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
