<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://gitee.com/ethanCun/NNN/raw/master/CANZOHOGM.ipa</string>
		<key>displayImageURL</key>
		<string>https://gitee.com/ethanCun/NNN/raw/master/1024.png</string>
		<key>fullSizeImageURL</key>
		<string>https://gitee.com/ethanCun/NNN/raw/master/Piglogo@1024.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.canzoho.CANZOHOGM</key>
		<string>JNTong-inHouse</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>WQ35W7X83W</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
